.avtRedirectBox {
    background-color: #fafafa; 
    border: 2px solid #f2f2f2; 
    padding: 4px;
    margin-top: 10px;
}

a.redir_tab:link, a.redir_tab:visited {
    float: left;
    display: block;
    background-color: #bababa;
    color: #424242;
    margin-right: 2px;
    padding: 2px 16px 2px 16px;
    height: 16px;
    border: 1px solid #424242;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

a.redir_tab:hover {
    color: #FEFEFF;
}

.grayedDesc {
    font-style: italic;
    font-size: 11px;
    color: #727272;
    margin-bottom: 16px;
}
ul.list_bullet {
        list-style-image:url(checked_red.gif); 
        list-style-type:square; 
        padding-left: 50px;
}


.text_gray{
    font-family: Verdana; 
    font-size: 10px; 
    color: #313131;
    line-height: 18px;
}

A.bk_btn:link, A.bk_btn:visited, A.bk_btn:active
{
	background-image: url(res/bk_button.png); 
	background-repeat: no-repeat; 
    padding: 10px 62px 10px 90px;
    margin: 10px 10px 10px 0px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;

}
A.bk_btn:hover{
	background-image: url(res/bk_button_hover.png); 
	background-repeat: no-repeat; 
    padding: 10px 62px 10px 90px;
    margin: 10px 10px 10px 0px;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
}

A.blue_large:link, A.blue_large:visited, A.blue_large:active
{
    color: #076fab;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;

}
A.blue_large:hover{

    color: #d71326;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
}
